# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Model training artifacts
# *.pkl

# Pytest
.pytest_cache/

# Coverage reports
.coverage
htmlcov/